@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    max-width: none !important;
}

.button-modal{
    min-width: 0 !important;
}

/* Carousel */
.carousel-control-next{
    background-color: black;
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-right: 10px;
    border-radius: 100%;
    padding: 7px;
}

.carousel-control-next:focus{
    opacity: 0.5 !important;
}
.carousel-control-next:hover{
    opacity: 0.5 !important;
    background-color: #f97316;
}

.carousel-control-prev{
    background-color: black;
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-left: 10px;
    border-radius: 100%;
    padding: 7px;
}

.carousel-control-prev:focus{
    opacity: 0.5 !important;
}
.carousel-control-prev:hover{
    opacity: 0.5 !important;
    background-color: #f97316;
}

div.carousel-indicators{
    width: 100%;
    margin: auto;
    padding: 0 10px;
    background-color: rgba(103, 103, 103, 0.237);
}

div.carousel-indicators button{
   height: 13px !important;
   width: 13px !important;
   border-radius: 100% !important;
}

.active{
    background-color: #e0a34c !important;
}

/* Dropdown */
#dropdown-basic:focus{
    background-color: white !important;
    box-shadow: none !important;
    z-index: 30 !important;
}

#dropdown-basic:enabled{
    background-color: white !important;
}

/* Animations */

.show{
    transition: all 0.5s ease-in-out;
    animation: show 0.7s ease;
}

@keyframes show {
    0%{
      opacity: 0;
    }
  
    100%{
      opacity: 1;
    }
}


